.login-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 90dvw;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.divider {
  margin: 0;
  padding: 0;
  color: gray;
}

@media (min-width: 768px) {
  .login-form-container {
    flex-direction: column;
    gap: 1em;
  }

  .main-container {
    width: 360px;
  }
}
