<div class="create-invoice-container">
  <h1>Invoices / Create</h1>

  <div class="create-invoice">
    <div class="create-invoice-form">
      <div>
        <p>Choose customer</p>
        <input type="text" name="choose-customer" />
      </div>

      <div>
        <p>Choose an amount</p>
        <input type="text" name="choose-amount" />
      </div>

      <div>
        <p>Set the invoice status</p>
        <input type="text" name="set-invoice-status" />
      </div>
    </div>

    <div class="create-invoice-actions">
      <button>Cancel</button>
      <button>Create Invoice</button>
    </div>
  </div>
</div>
