<div class="customers-list-container">
  <app-search
    (search)="onSearch($event)"
    [placeholder]="'Search by email'"
  ></app-search>

  <!-- Table View for Large Screens -->
  <table
    mat-table
    [dataSource]="dataSource"
    class="customers-table mat-elevation-z1"
    *ngIf="dataSource.data.length > 0"
  >
    <!-- Combined Picture and Name Column -->
    <ng-container matColumnDef="pictureAndName">
      <th mat-header-cell *matHeaderCellDef>Picture & Name</th>
      <td mat-cell *matCellDef="let customer">
        <div class="picture-name-cell">
          <img
            [src]="customer.image_url"
            alt="{{ customer.name }}"
            class="customer-image"
          />
          <span class="customer-name">{{ customer.name }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
    </ng-container>

    <!-- Total Invoices Column -->
    <ng-container matColumnDef="totalInvoices">
      <th mat-header-cell *matHeaderCellDef>Total Invoices</th>
      <td mat-cell *matCellDef="let customer">{{ customer.totalInvoices }}</td>
    </ng-container>

    <!-- Total Pending Column -->
    <ng-container matColumnDef="totalPending">
      <th mat-header-cell *matHeaderCellDef>Total Pending</th>
      <td mat-cell *matCellDef="let customer">
        &#8369;{{ customer.totalPending }}
      </td>
    </ng-container>

    <!-- Total Paid Column -->
    <ng-container matColumnDef="totalPaid">
      <th mat-header-cell *matHeaderCellDef>Total Paid</th>
      <td mat-cell *matCellDef="let customer">
        &#8369;{{ customer.totalPaid }}
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Card View for Small Screens -->
  <div class="mobile-view" *ngIf="customers$ | async as customers">
    <div *ngFor="let customer of customers" class="customer-card">
      <div class="customer-card-header">
        <div class="customer-card-header-details">
          <img [src]="customer.image_url" alt="{{ customer.name }}" />
          <p class="customer-name">{{ customer.name }}</p>
        </div>
        <p class="customer-email">{{ customer.email }}</p>
      </div>
      <div class="customer-card-body">
        <p class="pending">
          Pending <span>{{ customer.totalPending | currency }}</span>
        </p>
        <p class="paid">
          Paid <span>{{ customer.totalPaid | currency }}</span>
        </p>
      </div>
      <div class="customer-card-footer">
        <p class="total">{{ customer.totalInvoices }} invoices</p>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  [pageSize]="pageSize"
  [length]="totalCustomers"
  (page)="onPageChange($event)"
  class="paginator"
></mat-paginator>
